@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Bold.woff2") format("woff2"), url("../assets/fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Regular.woff2") format("woff2"), url("../assets/fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-BoldItalic.woff2") format("woff2"), url("../assets/fonts/OpenSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("../assets/fonts/OpenSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Italic.woff2") format("woff2"), url("../assets/fonts/OpenSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-LightItalic.woff2") format("woff2"), url("../assets/fonts/OpenSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-ExtraBoldItalic.woff2") format("woff2"), url("../assets/fonts/OpenSans-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Italic.woff2") format("woff2"), url("../assets/fonts/OpenSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Medium.woff2") format("woff2"), url("../assets/fonts/OpenSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-MediumItalic.woff2") format("woff2"), url("../assets/fonts/OpenSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Light.woff2") format("woff2"), url("../assets/fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Regular.woff2") format("woff2"), url("../assets/fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url("../assets/fonts/OpenSansCondensed-Bold.woff2") format("woff2"), url("../assets/fonts/OpenSansCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-SemiBoldItalic.woff2") format("woff2"), url("../assets/fonts/OpenSans-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../assets/fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url("../assets/fonts/OpenSansCondensed-ExtraBold.woff2") format("woff2"), url("../assets/fonts/OpenSansCondensed-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url("../assets/fonts/OpenSansCondensed-Italic.woff2") format("woff2"), url("../assets/fonts/OpenSansCondensed-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url("../assets/fonts/OpenSansCondensed-ExtraBoldItalic.woff2") format("woff2"), url("../assets/fonts/OpenSansCondensed-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url("../assets/fonts/OpenSansCondensed-BoldItalic.woff2") format("woff2"), url("../assets/fonts/OpenSansCondensed-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url("../assets/fonts/OpenSansCondensed-LightItalic.woff2") format("woff2"), url("../assets/fonts/OpenSansCondensed-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url("../assets/fonts/OpenSansCondensed-Light.woff2") format("woff2"), url("../assets/fonts/OpenSansCondensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url("../assets/fonts/OpenSansCondensed-Medium.woff2") format("woff2"), url("../assets/fonts/OpenSansCondensed-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url("../assets/fonts/OpenSansCondensed-MediumItalic.woff2") format("woff2"), url("../assets/fonts/OpenSansCondensed-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url("../assets/fonts/OpenSansCondensed-SemiBold.woff2") format("woff2"), url("../assets/fonts/OpenSansCondensed-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url("../assets/fonts/OpenSansCondensed-SemiBoldItalic.woff2") format("woff2"), url("../assets/fonts/OpenSansCondensed-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url("../assets/fonts/OpenSansCondensed-Regular.woff2") format("woff2"), url("../assets/fonts/OpenSansCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("../assets/fonts/OpenSansSemiCondensed-Bold.woff2") format("woff2"), url("../assets/fonts/OpenSansSemiCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("../assets/fonts/OpenSansSemiCondensed-ExtraBoldItalic.woff2") format("woff2"), url("../assets/fonts/OpenSansSemiCondensed-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("../assets/fonts/OpenSansSemiCondensed-ExtraBold.woff2") format("woff2"), url("../assets/fonts/OpenSansSemiCondensed-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("../assets/fonts/OpenSansSemiCondensed-BoldItalic.woff2") format("woff2"), url("../assets/fonts/OpenSansSemiCondensed-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
}

.navbar__socials {
  padding: 19px 0 19px;
  padding-right: 300px;
  position: relative;
  background-color: #111;
}
@media screen and (max-width: 767px) {
  .navbar__socials {
    padding: 19px 0 19px;
    padding-right: 0;
  }
}
.navbar__socials__list {
  position: absolute;
  top: 19px;
  right: 145px;
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 767px) {
  .navbar__socials__list {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .items__support {
    display: flex;
    justify-content: space-between;
  }
}
.items__support .support {
  display: flex;
  gap: 20px;
  display: none;
}
@media screen and (max-width: 767px) {
  .items__support .support {
    display: flex;
  }
}
.items__support .numbers {
  display: flex;
  flex-direction: column;
}
.items__support .numbers a {
  color: #fff;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 600;
}

.navbar__socials-info {
  display: flex;
  justify-content: flex-end;
  gap: 110px;
}
.navbar__socials-info .email {
  text-decoration: underline;
  position: relative;
  color: #fff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .navbar__socials-info .email {
    display: none;
  }
}
.navbar__socials-info .email::before {
  position: absolute;
  content: "";
  top: 5px;
  left: -26px;
  width: 20px;
  height: 14px;
  background-image: url(../assets/icons/icon-email-red.svg);
}
.navbar__socials-info .clock {
  position: relative;
  color: #fff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
}
.navbar__socials-info .clock::before {
  position: absolute;
  content: "";
  top: 1px;
  left: -26px;
  width: 20px;
  height: 20px;
  background-image: url(../assets/icons/icon-circle-watch.svg);
}/*# sourceMappingURL=main.css.map */